.reservation {
    display: grid;
    /* grid-template-columns: repeat(12, 1fr); */
    grid-template-columns: 70px repeat(11, 1fr);
    grid-template-rows: auto;
    margin: 1rem;
}

.res-title {
    font-size: 1.7rem;
    font-weight: bold;
    color: black;
}

.circle {
    display: flex;
    background-color: #F4CE14;
    color: black;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

/* .form-title {
    display: flex;
    align-items: center;
    gap: 1.2rem;

} */

/* .form-title {
    grid-column-start: 1;
    grid-column-end: 12;
} */

.circle {
    grid-column-start: 1;
    grid-column-end: 1;
    align-self: center;
}

.res-title {
    grid-column-start: 2;
    grid-column-end: 12;
    align-self: center;
}

.grid-2 {
    grid-column-start: 2;
    grid-column-end: auto;
}

.text-area {
    grid-column-start: 2;
    grid-column-end: 8;
    margin-bottom: 2rem;
}
/* .grid-1, .date, .time, .guests, .sitting, .ocasion, .special-req {
    grid-column-start: 1;
    grid-column-end: 12;
} */

.nextbtn {
    grid-column-start: 7;
    grid-column-end: 8;
}

.backbtn {
    grid-column-start: 2;
    grid-column-end: 3; 
}

.drop-down {
    display: flex;
    margin: 1rem 0rem 1rem 0rem; /* top | right | bottom | left */
    padding: 0.5rem 1rem 0.5rem 0; /* top | right | bottom | left */
    min-width: 180px;
    appearance: none; /*This will remove the standard arrow*/
    background-image: url(../../../../../public/images/chevron-down-solid-green.svg);
    background-repeat: no-repeat;
    background-size: 17px;
    background-color: #EDEFEE;
    background-position: 90%;
    color: #495E57;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    text-align: center;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 4px 4px #00000026;
    max-width: 270px;
    grid-column-start: 2;
    grid-column-end: auto;


}

option {
    background-color: #EDEFEE;
    color: #495E57;
    font-size: 18px;
    font-weight: bold;
    /* line-height: 60px; */
    text-align: center;
}

.has-value-selected {
    background-color: #495E57;
    background-image: url(../../../../../public/images/chevron-down-solid-white.svg);
    color: #ffffff;
}

.styled-counter {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    margin: 1rem 0rem 1rem 0rem; /* top | right | bottom | left */
    height: 45px;
    grid-column-start: 2;
    grid-column-end: auto;
}

.number-counter {
    padding: 0.5rem 0; /* top and bottom | left and right */
    min-width: 125px;
    background-color: #EDEFEE;
    color: #495E57;
    font-size: 20px;
    font-weight: bold;
    /* line-height: 24px; */
    text-align: center;
    border: none;
    /* border-radius: 20px; */
    /* box-shadow: 4px 4px 4px #00000026; */
    max-width: 270px;
}

.number-counter-btn {
    padding: 0.5rem 0; /* top and bottom | left and right */
    min-width: 62px;
    background-color: #495E57;
    color: #EDEFEE ;
    font-size: 20px;
    font-weight: bold;
    /* line-height: 24px; */
    text-align: center;
    border: none;
    /* border-radius: 20px; */
    /* box-shadow: 4px 4px 4px #00000026; */
    max-width: 270px;
}

.btn-left {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.btn-right {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px ;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

