.reservation {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin: 1rem;
}

@media (max-width: 600px) {
  .reservation {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0rem 1rem 0 0;
  }
}

/*This will style the <fieldset> elements in section 1*/
.fieldset-sec1 {
  grid-column: 1 / 13;
  border: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

@media (max-width: 600px) {
  .fieldset-sec1 {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    margin: 0rem;
  }
}

/* This will style the display of the <legend> elements in section 1 */
.legend-sec1 {
  display: grid;
  column-gap: 1.5rem;
}

.res-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
  grid-column: 2 / 13;
  align-self: center;
  margin-top: 0rem;
}

.circle {
  display: flex;
  background-color: #f4ce14;
  color: black;
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.span-container {
  grid-column-start: 1;
  grid-column-end: 1;
}

@media (max-width: 600px) {
  .span-container {
    justify-self: start;
  }
}

.content {
  grid-column: 2 / 13;
}

@media (max-width: 600px) {
  .content {
    grid-column: 1 / 5;
  }
}

.text-area {
  grid-column-start: 2;
  grid-column-end: 8;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .text-area {
    grid-column: 1 / 5;
    margin-right: 2rem;
  }
}

.nextbtn {
  grid-column-start: 7;
  grid-column-end: 8;
  justify-self: right;
  margin-bottom: 2.5rem;
}
@media (max-width: 600px) {
  .nextbtn {
    grid-column-start: 4;
    justify-self: right;
    margin-right: 2rem;
  }
}

.backbtn {
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 2.5rem;
}

@media (max-width: 600px) {
  .backbtn {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: left;
  }
}

.drop-down {
  display: flex;
  align-items: center;
  margin: 1rem 0rem; /*top and bottom | left and right*/
  padding: 0.5rem 1rem 0.5rem 0; /* top | right | bottom | left */

  appearance: none; /*This will remove the standard arrow*/
  background-image: url(../../../../Images/chevron-down-solid-green.svg);
  /* background-image: url(./Images/chevron-down-solid-green.svg); */
  background-repeat: no-repeat;
  background-size: 17px;
  background-color: #edefee;
  background-position: 90%;

  min-width: 160px;
  max-width: 270px;

  color: #495e57;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  /* text-align: center; */
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #00000026;

  grid-column-start: 2;
  grid-column-end: 4;
}

@media (max-width: 600px) {
  .drop-down {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

option {
  background-color: #edefee;
  color: #495e57;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.has-value-selected {
  background-color: #495e57;
  background-image: url(../../../../Images/chevron-down-solid-white.svg);
  color: #ffffff;
}

.styled-counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  margin: 1rem 0rem 1rem 0rem; /* top | right | bottom | left */
  height: 45px;
  grid-column-start: 2;
  grid-column-end: 12;
}

@media (max-width: 600px) {
  .styled-counter {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
.number-counter {
  padding: 0.5rem 0; /* top and bottom | left and right */
  min-width: 100px;
  max-width: 150px;
  background-color: #edefee;
  color: #495e57;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: none;
}

.number-counter-btn {
  padding: 0.5rem 0; /* top and bottom | left and right */
  min-width: 62px;
  background-color: #495e57;
  color: #edefee;
  font-size: 20px;
  font-weight: bold;
  /* line-height: 24px; */
  text-align: center;
  border: none;
  /* border-radius: 20px; */
  /* box-shadow: 4px 4px 4px #00000026; */
  max-width: 270px;
}

.number-counter-btn:active {
  transform: scale(0.9);
}

.btn-left {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}

.btn-right {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.radio-container {
  display: flex;
  margin: 0.5rem;
}
.label {
  margin-right: 15px;
  line-height: 32px;
  font-size: 20px;
  justify-self: center;
}

.radio {
  margin: 0.5rem;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  justify-self: center;
}

.radio:checked {
  border: 6px solid black;
}

.error {
  color: red;
  grid-column-start: 2;
  grid-column-end: 5;
  margin-top: 0rem;
}

/* ***Section 2 styling*** */

/* Section 2 fieldset styling */
.fieldset-sec2 {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section-2-title {
  font-size: 1.7rem;
  font-weight: bold;
  color: black;
  grid-column: 1 / 13;
  place-self: center;
  margin: 2rem auto; /* top and bottom | left and right */
}

@media (max-width: 600px) {
  .section-2-title {
    grid-column: 1 / 5;
  }
}

/* Section 2 legend styling */
.legend-sec2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* This section will style the log in side */
.log-in {
  grid-column: 1 / 5;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.log-in input {
  max-width: 500px;
}

.btn-container-left {
  grid-column-start: 1;
  grid-column-end: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

@media (max-width: 600px) {
  .btn-container-lef {
    grid-column: 1 / 5;
  }
}

.is-user {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10rem;
}

@media (max-width: 600px) {
  .is-user {
    margin-top: 0rem;
  }
}

/* This section will style the guest side */
.guest {
  grid-column: 8 /13;
  align-self: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

@media (max-width: 600px) {
  .guest {
    grid-column: 1 / 5;
  }
}

.btn-container-right {
  grid-column: 8 / 13;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0 3rem 0;
}

@media (max-width: 600px) {
  .btn-container-right {
    grid-column: 1 / 5;
  }
}

.styled-input {
  padding: 0.5rem;
  border-radius: 10px;
}

.confirmation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 1rem 3rem 1rem;
}

@media (max-width: 600px) {
  .confirmation {
    margin: 0 0 1.5rem 0;
  }
}

.confirmation-title {
  font-size: 3rem;
  margin: 0.8rem 0 1.2rem 0;
  font-weight: bold;
}

.confirmation-text {
  font-size: 1.5em;
  margin: 0.8rem 0 0.8rem 0;
  font-weight: bold;
}
