.styled-button {
  background-color: #f4ce14;
  border: none;
  padding: 10px 32px;
  text-align: center;
  font-size: large;
  border-radius: 15px;
  font-weight: bold;
  color: black;
}

/* This will style the on-hover effect */
.styled-button {
  transition-duration: 0.4s;
}

.styled-button:hover {
  background-color: #ee9972;
}

.styled-button:active {
  transform: scale(0.9);
}

.disabled {
  background-color: #ebdfa8;
  color: #5e5d5d;
}

.disabled:hover {
  background-color: #ebdfa8 !important;
}

.disabled:active {
  transform: none !important;
}
