.card-container {
    display: flex;
    flex-direction: column;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
    /* box-shadow: #c7c5c5 5px 5px; <color> | <length> | <length> */
    border-radius: 20px;
    max-width: 270px;
    background-color: #eeebeb;
}

.card-image {
    max-width: 270px;
    border-radius: 20px;

}

.card-image-container {
    min-height: 200px;
}
.card-header {
    display: flex;
    justify-content: space-between;
    padding: 0rem 0.7rem 0rem; /*top | left and right | bottom*/
    
}
.card-header h5 {
    font-weight: bold;
    font-size: 1.2rem;
}

.price {
    color: #F57F48;
}

.card-text {
    overflow-wrap: break-word;
    min-height: 120px;
    padding: 0rem 0.7rem 0rem; /*top | left and right | bottom*/
}

.card-text p {
    margin-top: 0rem;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.card-footer h5 {
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0 1rem 1rem 0; /* top | right | bottom | left */
    align-self: flex-end;
}

.card-footer-icon {
    font-size: 1.3rem;
    margin: 0 0 1rem 0;/* top | right | bottom | left */
}