.active-circle:active {
  transform: scale(0.9);
}

.inactive-circle:active {
  transform: scale(0.9);
}

.inactive-circle:hover {
  background-color: #ee9972;
}

.inactive-circle:disabled:hover {
  background-color: #495e57;
}

.inactive-circle:disabled:active {
  transform: none;
}
