footer {
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    grid-template-areas: 
    "logo naviation contact social";
  }
  
  @media (max-width: 600px) {
    footer {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows:auto;
      grid-template-areas: 
     "social social"
      "naviation contact"
      "logo logo"
    }
  }
  
  .footer-logo {
    display: flex;
    justify-content: center;
    max-width: 370px;
    max-height: 379px; 
    background-color: #EDEFEE;
    padding: 2rem;
    
  }
  
  .bg-logo {
    width: 100%;
    height: auto;
    max-width: 400px;
    align-self: center;
  }
  
  .sm-logo {
    max-width: 100px;
    align-self: center;
  }
  
  
  /* Desktop footer image */
  @media (min-width: 600px) {
  .sm-fotter-logo {
    display: none;
  }
  
  .bg-footer-logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    background-color: #EDEFEE;
    padding: 2rem;
  }
  }
  
 /* Mobile footer image */
 @media (max-width: 850px) {
   .bg-footer-logo {
     display: none;
 }
  
  .sm-fotter-logo {
      display: flex;
      justify-content: center;
      background-color: #EDEFEE;
      padding: 1rem;
      grid-area: logo;
  }
  }
  
  footer h3 {
    color: #F4CE14;
    text-transform: uppercase;
  }
  
  .footer-links {
    grid-area: naviation;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
    background-color: #495E57;
    line-height: 1.5rem;
  }
  
  footer a {
    text-decoration: none;
    color: #FFFFFF;
    line-height: 2rem;
  }
  
  footer a:hover {
    color: #F4CE14;
  }
  
  footer p {
    color: #FFFFFF;
  }
  
  .footer-contact {
    grid-area: contact;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    background-color: #495E57;
    width: 100%;
    line-height: 1.5rem;
    
  }
  
  .footer-social {
    grid-area: social;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #495E57;
    color: #FFFFFF;
    
  }
  
  /* This adds a space between the icons on the footer */
  .footer-icon {
    margin: 1rem;
  }
  
  /* Mobile footer settings */
  @media (max-width: 600px) {
    .footer-social {
      font-size: 3rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #495E57;
      color: #FFFFFF;
      justify-content: center;
      grid-gap: 1rem;
    }
  
    .footer-links {
      grid-area: naviation;
      display: grid;
      background-color: #495E57;
      justify-items: center;
      padding: 0;
     }
    
    .footer-contact {
      grid-area: contact;
      display: grid;
      padding-top: 1rem;
      background-color: #495E57;
      justify-items: center;
      padding: 0;
    }
  
    .footer-contact > p {
      text-align: center;
    }
  
    .footer-icon {
      margin: 1rem;
    }
  
  }