.hero-article {
    background-color: #495E57;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    height: 20rem;
}

.hero-article h1 {
    font-size: 4rem;
    color: #F4CE14;
    margin: 0 auto;
}

.hero-article h2 {
    margin: 0 auto;
    color: #ffffff;
    font-size: 2rem;
}

.hero-article p {
    font-size: 1.1rem;
    margin: 2rem auto;
    color: #ffffff;
   } 

.mobile-hero-image{
    display: none;
}

.desktop-hero-image img {
    width: 100%;
    height: auto;
    max-width: 300px;
    align-self: center;
    border-radius: 20px;
}


@media (max-width: 850px) {
    .hero-article {
        height: auto;
    }
    
    .desktop-hero-image {
        display: none
     }
    .mobile-hero-image {
        display: flex;
        justify-content: flex-end;

    }
    .mobile-hero-image img {
        width: 100%;
        height: auto;
        max-width: 200px;
        align-self: center;
        border-radius: 20px;
    }
   }

   @media (max-width: 600px) {
    .desktop-hero-image {
        display: none
     }
    .mobile-hero-image {
        display: none
     }
    }

.specials {
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.specials-title {
  display: flex; 
  justify-content: flex-start;
  color: #495E57;
}

.specials-title h1 {
    font-size: 3rem;
    margin-top: 0rem;
}

.specials-cards {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
  margin-bottom: 2rem;
}

.testimonials {
    margin-top: 2.3rem;
    background-color: #495E57;
    padding: 2rem;
    padding-left: 4rem;
}

.testimonials h1 {
    font-size: 3rem;
    color: #F4CE14;
    margin-top: 1rem;
}

.testimonials-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}
