.testimonials {
  margin-top: 2.3rem;
  background-color: #495e57;
  padding: 2rem;
  padding-left: 4rem;
}

.testimonials h1 {
  font-size: 3rem;
  color: #f4ce14;
  margin-top: 1rem;
}

.testimonials h2 {
  font-size: 3rem;
  color: #f4ce14;
  margin-top: 1rem;
}

.testimonials-cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

@media (max-width: 534px) {
  .testimonials {
    padding: 1rem;
  }
  .testimonials-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
  }
}
