.tcard-container {
  border: 2px solid #495e57;
  border-radius: 20px;
  max-width: 250px;
  min-width: 250px;
  background-color: #edefee;
  padding: 1rem;
}

/* @media (max-width: 655px) {
  .tcard-container {
    max-width: 
    min-width: auto;
  }
} */

.tcard-title {
  font-size: 1.2rem;
  margin: 0.5rem 0 1.67rem 0; /*top and bottom | left and right  */
  font-weight: bold;
}

.tcard-rating {
  font-size: 1.2rem;
  color: #f4ce14;
}
.tcard-avatar-container {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.tcard-avatar {
  max-width: 70px;
  border-radius: 100%;
}

.tcard-avatar-container p {
  margin: 0.5rem 0.5rem 0; /* top | left and right | bottom */
}

.tcard-text {
  font-weight: bold;
}
