* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  margin: 1rem;
}

h1 {
  font-size: 3rem;
}

.main-h1 {
  font-size: 4rem;
  color: #f4ce14;
  margin: 0 auto;
}

.main-h2 {
  margin: 0 auto;
  color: #ffffff;
  font-size: 2rem;
}

.main-p {
  font-size: 1.1rem;
  margin: 2rem auto;
  color: #ffffff;
}

/* This will style the drop downs for the website */

.drop-down {
  margin: 1rem 0rem; /* top and bottom | left and right */
  padding: 0.5rem 1rem 0.5rem 0; /* top | right | bottom | left */
  min-width: 160px;
  appearance: none; /*This will remove the standard arrow*/
  background-image: url(./Images/chevron-down-solid-green.svg);
  background-repeat: no-repeat;
  background-size: 17px;
  background-color: #edefee;
  background-position: 90%;
  color: #495e57;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
  border: none;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #00000026;
  border-radius: 20px;
  max-width: 270px;
}

option {
  background-color: #edefee;
  color: #495e57;
  font-size: 16px;
  font-weight: bold;
  /* line-height: 60px; */
  text-align: center;
}

.has-value-selected {
  background-color: #495e57;
  background-image: url(./Images/chevron-down-solid-white.svg);
  color: #ffffff;
}
