.res-nav {
    display: flex; 
    justify-content: space-around;
    margin: 1rem;

  }

  .active-number {
    color: black;
    z-index: 3;
  }

  .active-circle {
    background-color: #F4CE14;
    color: black;
    padding: 1rem 1.4rem;
    border-radius: 100%;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: center;
    grid-area: number;
  }

  .inactive-circle {
    background-color: #495E57;
    color: white;
    padding: 1rem 1.4rem;
    border-radius: 100%;
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    grid-area: number;
    align-self: center;
  }

  /* .bar {
    border: solid;
    border-color: #495E57;
    border-width: 2px;
    border-radius: 20%;
    width: 20px;

  } */

  .styled-button:hover {
    background-color: #EE9972;
}

.styled-button:active {
    transform: scale(0.9);
}

.nav-group {
  justify-self: center;
  align-self: center;
}

.nav-group {
 display: flex;
 flex-direction: column;

}

