/* I need to sort out how the numbers look on a mobile view. The number 3 is sligthly off centered and the text is not central. */

.res-nav {
  display: flex;
  justify-content: space-around;
  margin: 1rem;
  list-style-type: none;
  margin: 2rem 0; /*top and bottom | left and right*/
  padding: 0;
  word-wrap: normal;
}

@media (max-width: 600px) {
  .res-nav {
    justify-content: space-between;
  }
}

li.nav-group {
  float: left;
  margin: 1rem;
  align-items: baseline;
}

.active-number {
  color: black;
  z-index: 3;
}

.circle-container {
  display: flex;
  justify-content: center;
}

.circle-label-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.active-circle {
  background-color: #f4ce14;
  color: black;
  padding: 1rem 1.4rem;
  border-radius: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  align-self: center;
  grid-area: number;
}

.inactive-circle {
  background-color: #495e57;
  color: white;
  padding: 1rem 1.4rem;
  border-radius: 100%;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  grid-area: number;
  align-self: center;
}

/* .bar {
    border: solid;
    border-color: #495E57;
    border-width: 2px;
    border-radius: 20%;
    width: 20px;

  } */

.styled-button:hover {
  background-color: #ee9972;
}

.styled-button:active {
  transform: scale(0.9);
}

/* .nav-group {
  justify-self: center;
  align-self: center;
}

.nav-group {
 display: flex;
 flex-direction: column;

} */
